doctype html
html
  head
    title= "Recipe Finder"
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC")
  body
    block content
